*{
font-family: 'Heebo', sans-serif; 
   margin: 0;
   padding: 0;
   box-shadow: border-box;   
}

.main > p{
    text-align: center;    
    font-size: 40px;
    font-weight: 800;
}

.card-container{
    display: flex;    
    flex-direction: row;
    margin: 10px 0 10px 0;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.btn{
    width: 100%;
    height: 20px;
    background-color:rgb(189, 18, 18);
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    text-decoration: none;  
    text-align: center;
    font-size: 15px;
}
