*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Card{    
    background-image: linear-gradient(5deg, #fbfb00 0, #fff200 50%, #f5f102 100%);
    width: 200px;
    height: 250px;
    border: 2px solid rgba(241, 218, 10, 0.418);
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    text-transform: capitalize;
    box-shadow: 5px 5px rgb(230, 230, 221);
}

.Card .Title{
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;    
}

.Card .Content{
    display: flex;
    flex-direction: column;
    height: 100%;      
    background-color: white;
    align-items: center;          
}

.Content > span{    
    font-size: 15px;
    margin: 1px 0 0px 0;
    font-weight: 700;    
}

.Content:hover {
    background-position: right center; 
    background-color: #ffff56;
    text-decoration: none;
 }

.Content .icon{
    width: 100px;
    height: 100px;
}

.Content > img{
    width: 100%;
}